--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
fastapi
uvicorn
python-multipart
timm
facenet-pytorch
opencv-python-headless
Pillow
numpy
scipy
scikit-learn
requests
pydantic
gdown
